<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222; padding: 10px 0;">
    <div class="container">
    	<%= link_to "Portfolio", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll navMenu">
                    <%= link_to "HOME", root_path %>
                </li>
                <li class="page-scroll navMenu">
                    <%= link_to "ABOUT ME", about_me_path %>
                </li>
                <li class="page-scroll navMenu active">
                    <%= link_to "STUDENT LIFE", student_life_path %>
                </li>
                <li class="page-scroll navMenu">
                    <%= link_to "SKILLS", skills_path %>
                </li>
                <li class="page-scroll navMenu">
                    <%= link_to "PROJECTS", projects_path %>
                </li>
                <li class="page-scroll navMenu">
                    <%= link_to "CONTACT ME", contact_me_path %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-lg-12 text-center" id="centerDiv">
        <h2 class="section-heading">STUDENT LIFE</h2>
		<%= image_tag("initials.png", class: 'img-circle img-responsive', title: 'Jayvee Lugod')%>
    	<br><br>
		<div id='btnLinks'>
            <span><%= link_to image_tag("fb.png", class: 'img-circle img-responsive', title: 'Facebook'), 'https://facebook.com/jayveelugod' %></span>
            <span><%= link_to image_tag("github.png", class: 'img-circle img-responsive', title: 'Github'), 'https://github.com/jayveelugod'%></span>
        </div>
    	<br>
    	<span class='jayvee-name'> Jayvee Lugod </span>
    	<br>
		<p class='jayvee-webDev'> Full Stack Web Developer </p>
    	<br>
    	<h3 class="section-subheading text-muted">Me as a Student</h3>
        <div style="width: 30em; display: inline-block;">
        	<span class="studentLife">
        		I still remember the first day I tagged myself as a college student. New faces everywhere, new challenges and new hopes. In the last 3 years of my student's life until now, I can say that I'm the person that I always wanted to be since that first day of my college life. Why? Because I'm almost there... I'm almost in the finish line. Not just only that, I now have the skills and knowledge I always wonder if I could have during my highschool years.
        		I'm happy today. Especially that I'm performing well in my academics and also my technical skills rise up.
        		The only thing now that I want for myself is to improve more each day. Academics, technical skills, social, emotional and spritual aspects of me. And hopefully this will be my last 3 months of being a student.  
			</span>
		</div>
		<br><br><br><br>
        <h3 class="section-subheading text-muted">Me as a Computer Science Student</h3>
        <div style="width: 30em; display: inline-block;">
        	<span class="studentLife">
        		Codes can be manipulated. They can work on whatever you want depending on your needs.
        		Being a computer science (comsci) student, I felt like I can do whatever I want. Create my own site, 
        		my own blog, my own application and many more. This made possible because I'm a comsci student.<br>
        		Comsci is not that famous course. Though sometimes, people always mistaken it as a course for internet cafe attendants. No! If only they knew what challenge, struggle and sacrifices a comsci student faces. What do we do?
        		Well, simple. We're developing the world. The world that most people is using today. The TECHNOLOGY world.<br>
        		What amazing about comsci is that you always have the choice to do the job that you wanted without any additional
        		requirements. What I mean is that compsci is for all. You don't need to be a licensed computer scientist to
        		code, to do whatever they're doing in the technology world. You have the free will to learn them all.
        		Another thing amazing about comsci is that it plays a big role in the techonology world. Developers who develop
        		useful and amazing apps in the market nowadays are mostly computer scientist or any other related computer courses.
        		We're making your life easy to the fulliest. Proudly saying.. I'M A COMPUTER SCIENCE STUDENT.
			</span>
		</div>

		<br><br><br>

	</div>
</div>
<hr/>    
<br><br><br>
<div id='footer'>
	<br>
	<p class="footer"> 
		Copyright © Jayvee Lugod Portfolio 2017
	</p> 
</div>	      